Repository 0Smallcat0/ai_trading: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-file-size

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --rcfile=config/pylint.ini
  - --fail-under=8.5

check-file-size:
  name: 檢查檔案大小 (≤300行)
  entry: python
  language: system
  args:
  - -c
  ...

fix: 修復CI/CD workflow中的腳本路徑引用
  .github/workflows/ci.yml
Due: none

refactor: 重構AI模型管理頁面，拆分超大檔案
  docs/驗證記錄.md
  src/ui/pages/ai_models.py
  src/ui/pages/ai_models/__init__.py
  src/ui/pages/ai_models/base.py
  src/ui/pages/ai_models/model_inference.py
  src/ui/pages/ai_models/model_interpretability.py
  src/ui/pages/ai_models/model_list.py
  src/ui/pages/ai_models/model_management.py
  src/ui/pages/ai_models/model_monitoring.py
  src/ui/pages/ai_models/model_training.py
Due: pylint, check-file-size

feat: 新增檔案大小分析工具
  scripts/analyze_file_sizes.py
Due: pylint

修正數據處理細部問題
  data/market_data.db
  scripts/fix_risk_management_schema.py
  src/data_sources/baostock_adapter.py
  src/data_sources/baostock_connection_manager.py
  src/data_sources/base_data_source.py
  src/data_sources/legacy_adapters.py
  src/data_sources/qstock_adapter.py
  src/data_sources/unified_data_manager.py
  src/ui/components/feature_status.py
  src/ui/pages/data_source_config_wizard.py
Due: pylint, check-file-size

移除所有指標說明選單功能
  src/ui/components/ai_display_integration.py
  src/ui/pages/advanced_technical_analysis.py
  src/ui/pages/data_view.py
Due: pylint, check-file-size

Path conditions:
  pylint: any of: \.py$
  check-file-size: any of: ^src/.*\.py$
